.banner {
  width: 100%;
  height: 400px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.post {
  margin: 5rem 0 0;

  > header {
    > h1 {
      color: var(--heading);
      transition: color 0.2s;
      font-size: 3rem;
    }

    > div.postFooter {
      margin-top: 1.5625rem;
      display: flex;
      align-items: center;
      color: var(--body);

      > div {
        display: flex;
        align-items: center;

        & + div {
          margin-left: 2rem;
        }

        svg {
          transform: scale(1.125);
        }

        > span {
          margin-left: 0.5rem;
          font-size: 0.85rem;
        }
      }
    }

    > span {
      display: block;
      color: var(--body);
      font-size: 0.9rem;
      font-style: italic;
      margin-top: 1rem;
    }
  }

  > section {
    margin-top: 3.5rem;

    > h2 {
      font-size: 2rem
    }

    > div {
      margin-top: 3.5rem;

      > p {
        line-height: 1.5rem;
        & + p {
          margin-top: 1.5rem;
        }
      }
    }
  }
}

.divider {
  width: 100%;
  height: 2px;
  background: var(--background);
  filter: brightness(1.2);
  margin: 2rem 0;
}

.navigation {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: stretch;

  > div {
    display: flex;
    flex-direction: column;
    align-items: center;

    & + div {
      margin-top: 2rem;
    }

    > a {
      margin-top: 0.5rem;
      color: var(--highlight);
      font-weight: 600;
    }
  }

  @media  screen and (min-width: 768px) {
    flex-direction: row;
    align-items: center;

    > div {
      & + div {
        margin-top: 0;
      }
    }

    > .prevPost {
      margin-right: auto;
      align-items: flex-start;
    }

    > .nextPost {
      margin-left: auto;
      align-items: flex-end;

    }
  }
}
