.container {
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  background: var(--heading);
  font-weight: 600;

  margin: 3rem 0;

  transition: filter 0.2s;

  &:hover {
    cursor: pointer;
    filter: brightness(0.8);
  }
}
